{% extends 'base.html.twig' %}
{% block title %}INSCRIPTION{% endblock %}
{% block body %}
<a href="#" onclick="history.back();">
  <i></i>
  <span >Retour</span>
</a>
<div>
<h1>Formulaire d'inscription</h1>
{{form(form)}}
</div>
{% endblock %}